@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


$Red: hsl(0, 100%, 74%) ;
$Green: hsl(154, 59%, 51%);
$Blue: hsl(248, 32%, 49%);
$Dark-Blue: hsl(249, 10%, 26%); 
$Grayish-Blue: hsl(246, 25%, 77%);

*{
    font-family: 'Poppins', sans-serif;
}

.error{
    background-image: url(icon-error.svg);
    background-size: 25px 25px;

}

body{
    background-color: $Red;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 1px);
    
}

.container{
    display: flex;
    margin: 15px;
    

    .info{
        align-self: center;
        justify-content: left;
        width: 500px;
        
        color:white;
        box-sizing: border-box;
        h1{
            font-weight: 700;
        }
        p{
            
            font-size: 16px;
            font-weight: 400;
        }

    }


    .form_cont{
        box-sizing: border-box;
        justify-content: center;
        

        #trial{
            text-align: center;
            font-weight: 400;
            background-color: $Blue;
            color: white;
            border-radius: 10px;
            padding:15px;
            font-size: 14px;
            box-shadow: 0px 8px 0px rgb(0,0,0,0.1);

        }
        
        form{
            background-color: white;
            padding:35px;
            align-items: center;
            border-radius: 10px;
            box-shadow: 0px 8px 0px rgb(0,0,0,0.1);
            display: flex;
            flex-direction: column;
            position: relative;
            
                small{
                    align-self: self-end;
                    display:none ;
                    font-weight: 100;
                    font-size: 12px;
                    color:$Red;
                    font-style: italic;
                    padding-top: 0px;
                    margin-bottom: 20px;
                    

                }
                img{
                    float: right;
                }
                

                input{
                   
                    margin-bottom: 20px;
                    width:350px;
                    height:15px;
                    font-weight: 600;
                    border-radius: 5px;
                    padding:15px;
                    border-style: solid;
                    border-color: $Grayish-Blue;

                    &:focus{
                        outline: none;
                        border-color: $Blue;
                    }
                    
               }
            button{
                width:383px;
                height:45px;
                font-weight: 500;
                border-radius: 5px;
                background-color: $Green;
                color:white;
                border:none;
                box-shadow: inset  0px -5px 0px rgb(0,0,0,0.1);

                &:hover{
                    cursor: pointer;
                    filter:brightness(115%);

                }
            }
            #TC{
                text-align: center;
                font-weight: 500;
                color:$Grayish-Blue;
                font-size: 10px;
                b{
                    color:$Red;
                }
            }

        }

        
       

        

    }
    
}

@media (max-width:600px) {
    .container{
        flex-direction: column;
        place-items: center;

        .info{
            width: auto;
            text-align: center;
            padding: 0;
            margin-top: 50px;
            
            
        }

        .form_cont{
            width:100%;

            form{
                

                input{
                    width:100%;
                }
                button{
                    width:100%;
                }
            }
            
            

        }


    }
    
}

