
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


$Dark-cyan: hsl(158, 36%, 37%);
$Cream: hsl(30, 38%, 92%);

$Very-dark-blue: hsl(212, 21%, 14%);
$Dark-grayish: hsl(228, 12%, 48%);
$White: hsl(0, 0%, 100%);

body{
    height: calc(100vh - 1px);
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:$Cream;
}

.container{
    height:30rem;
    width:40rem;
    background-color:$White;
    border-radius: 15px;
    box-shadow: 0.5px 0.5px 5px rgb(0,0,0,0.1);
    display: flex;
    
    
    
    
    

    .product{
        width:50%;
        img{
            height:100%;
            width: 100%;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }
        
    }

    .info{
        width: 50%;
        justify-content:left;
        font-family: 'Montserrat', sans-serif;
        color:$Dark-grayish;
        box-sizing: border-box;
        padding:40px;
        padding-top: 15px;
        
        
        
        
        
        h5{
            font-weight: 400; 
            letter-spacing: 3px;    
        }
    
        h1{
            font-weight: 700 ;
            font-family: 'Fraunces', serif;
            color:$Very-dark-blue;
            line-height: 35px;
            
        }
        button{
            background-color: $Dark-cyan;
            border-radius: 5px;
            color:$White;
            width:250px;
            height:50px;
            border:none;
            font-size: 14px;
            letter-spacing: 1px;
            font-style: bold;

            &:hover{
                background-color: $Very-dark-blue;
                cursor:pointer;
            }
            


            
        }

        object{
            vertical-align: bottom;
            margin-right:5px;
        }
    
        p{
            line-height: 25px;
            font-size: 14px;  
        }
        .cost{
            font-size: xx-large;
            font-family:'Fraunces', serif ;
            font-weight:700;
            color:$Dark-cyan;
            del{
                padding-left: 10px;
                font-weight: 400 ;
                font-family: 'Montserrat', sans-serif;
                color:$Dark-grayish;
                font-size: 14px;    
                vertical-align: bottom;
    
            }
        }
    
    
    }
    

}

@media (max-width:400px){
    .container{
        width:20rem;
        height:60rem;
        display: flex;
        flex-direction: column;

        .product{
            width:100%;
            height: 45%;
            img{
                border-top-right-radius: 15px;
                border-bottom-left-radius: 0px;
                object-fit: cover;
            }

        }

        .info{
            width:100%;
            padding:20px;
        }
    }
    
}


