@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  position: relative;
}

header {
  padding-bottom: 15px;
  border-bottom: 1px hsl(220, 14%, 75%) solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}
header h1 {
  margin: 0;
  font-weight: 700;
}
header .navBar {
  margin-left: 30px;
}
header .navBar a {
  margin-left: 20px;
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  font-size: 12px;
  padding-bottom: 22px;
  cursor: pointer;
}
header .navBar a:hover {
  font-weight: 600;
  color: hsl(0, 0%, 0%);
  border-bottom: 5px hsl(26, 100%, 55%) solid;
  border-radius: 2px;
}
header .icons {
  margin-left: auto;
  cursor: pointer;
}

#cart {
  position: absolute;
  width: 280px;
  height: 200px;
  border-radius: 5px;
  margin-left: 70%;
  margin-top: 35px;
  background-color: hsl(0, 0%, 100%);
  padding: 10px;
  box-shadow: 0px 10px 25px hsla(25, 100%, 3%, 0.25);
}
#cart h3 {
  padding-bottom: 15px;
  border-bottom: 1px hsl(220, 14%, 75%) solid;
}
#cart #cart-item .cart-content {
  display: flex;
  justify-content: space-between;
}
#cart #cart-item .cart-content img {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin-right: 10px;
}
#cart #cart-item .cart-content p {
  margin: 0;
  font-size: 12px;
  color: hsl(219, 9%, 45%);
}
#cart #cart-item .cart-content #delete {
  height: 20px;
  width: 20px;
  margin-top: 10px;
  cursor: pointer;
}
#cart #cart-item button {
  margin-top: 30px;
  width: 100%;
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.product {
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.product .product-image {
  padding-top: 0px;
  flex-direction: column;
}
.product .product-image .arrows {
  display: none;
}
.product .product-image .product-slider .slide {
  height: 50vh;
  width: 50vh;
  margin: 25px;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 12px;
}
.product .product-image .thumbnail-slider {
  text-align: center;
}
.product .product-image .thumbnail-slider .slide {
  display: inline-block;
  height: 10vh;
  width: 10vh;
  margin: 5px;
  background-size: cover !important;
  border-radius: 8px;
  cursor: pointer;
}
.product .product-image .thumbnail-slider .slide:hover {
  filter: opacity(75%);
}
.product .product-info {
  display: flex;
  flex-direction: column;
  width: 380px;
  box-sizing: border-box;
}
.product .product-info p {
  font-size: 12px;
  color: hsl(219, 9%, 45%);
}
.product .product-info .company {
  font-size: 12px;
  color: hsl(26, 100%, 55%);
}
.product .product-info .title {
  color: hsl(220, 13%, 13%);
  font-weight: 700;
  font-size: xx-large;
}
.product .product-info .content {
  color: hsl(219, 9%, 45%);
  font-weight: 400;
}
.product .product-info .price {
  margin: 0;
  color: hsl(220, 13%, 13%);
  font-style: bold;
  font-size: x-large;
  border-color: none;
  font-weight: 700;
}
.product .product-info .price small {
  color: hsl(26, 100%, 55%);
  background-color: hsl(25, 100%, 94%);
  padding-left: 4px;
  padding-right: 4px;
  font-size: 12px;
  border-radius: 2px;
  margin-left: 5px;
}
.product .product-info .buttons {
  display: flex;
  gap: 10px;
}
.product .product-info .buttons .item-count {
  display: flex;
  padding: 10px;
  width: 25vh;
  background-color: hsl(223, 64%, 98%);
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.product .product-info .buttons .item-count button {
  border: none;
  background: transparent;
  cursor: pointer;
}
.product .product-info .buttons .item-count p {
  margin: 0;
  color: hsl(0, 0%, 0%);
}
.product .product-info .buttons .add {
  border: none;
  color: hsl(0, 0%, 100%);
  width: 220px;
  background-color: hsl(26, 100%, 55%);
  border-radius: 5px;
  box-shadow: 0px 10px 25px hsl(25, 100%, 94%);
  cursor: pointer;
}
.product .product-info .buttons .add object {
  padding: 5px;
  vertical-align: middle;
}
.product .product-info .buttons .add:active {
  filter: opacity(75%);
}

@media (max-width: 400px) {
  nav {
    display: none;
  }
  #cart {
    margin-left: 0;
    width: -moz-max-content;
    width: max-content;
  }
  .product {
    gap: 10px;
    flex-direction: column;
  }
  .product .product-image {
    align-items: center;
  }
  .product .product-image .product-slider .slide {
    margin: 0;
  }
  .product .product-image .thumbnail-slider {
    display: none;
  }
  .product .product-image .arrows {
    display: flex;
    margin-left: 30%;
  }
  .product .product-info {
    width: 70%;
  }
  .product .product-info .buttons {
    align-items: center;
    flex-direction: column;
  }
  .product .product-info .buttons .item-count {
    width: 100%;
  }
  .product .product-info .buttons .add {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */